<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>
	<br />
	  <p>
    Splurty was built by <a target="_blank" href="http://github.com/ecam900">Eric Crescioni</a>, as part of The Firehose Project curriculum. This is my first web application, and I hope that it will lead to many more.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br class="clear" />
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'eric_bio.jpg', class: 'img-responsive' %>
	</div>
	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Eric Crescioni</h2>
		<br />
		<p>
			I graduated from the CUNY, City College of New York with a degree in Finance, but decided to jump into web development. After looking everywhere for web development bootcamps, I decided to dive into The Firehose Project. Just by making this app I've learned more than I ever imagined I would in the first week of the program.
		</p>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />

</div>
