
@font-face {
    font-family: 'danielregular';
    src: url('/assets/daniel-webfont.eot');
    src: url('/assets/daniel-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/daniel-webfont.woff2') format('woff2'),
         url('/assets/daniel-webfont.woff') format('woff'),
         url('/assets/daniel-webfont.ttf') format('truetype'),
         url('/assets/daniel-webfont.svg#danielregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'danielbold';
    src: url('/assets/danielbd-webfont.eot');
    src: url('/assets/danielbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/danielbd-webfont.woff2') format('woff2'),
         url('/assets/danielbd-webfont.woff') format('woff'),
         url('/assets/danielbd-webfont.ttf') format('truetype'),
         url('/assets/danielbd-webfont.svg#danielbold') format('svg');
    font-weight: normal;
    font-style: normal;

}