@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

.clear {
	clear:both;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #f84342;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
}

.slogan {
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	padding-top: 26px;
}

.links {
	padding-top: 26px;
}

.links a {
	color: black;
	font-size: 25px;
	border-bottom: 1px solid #dfdfdf;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
}

header {
	border-top: 9px solid #222222;
}

hr {
	clear:both;
}

h1 {
	font-family: 'danielbold', sans-serif;
	font-size: 48px;
}

h2 {
	font-family: 'danielregular', sans-serif;
}